{# Banner height small #}
{% set block_banner = [
    {
      'block_banner__class' : 'block-banner block-banner--height-small block-banner--dark-overlay',
      'block_banner__image' : '../images/images-pages/pet.jpg',
      'block_banner__title' : 'PICCOLO XPRESS'
    }
  ]
%}
<h2 class="section-title margin-top-none">Height small</h2>
<h2 class="section-description margin-bottom">How to use: Only show title, Height: 275px and Image: 1920x720px</h2>
<h2 class="section-description">Class: block-banner--height-small, block-banner--dark-overlay</h2>
{% include "blocks/block-banner.twig" %}

{% set block_banner = [
    {
      'block_banner__class' : 'block-banner block-banner--height-medium block-banner--dark-overlay',
      'block_banner__image' : '../images/images-pages/pet2.jpg',
      'block_banner__title' : 'PICCOLO XPRESS',
      'block_banner__description' : 'On-site, lab-accurate, CLA waived blood chemistry results in minutes'
    }
  ]
%}
<h2 class="section-title">Height Medium</h2>
<h2 class="section-description margin-bottom">How to use: Show title and description, Height: 350px and Image: 1920x720px</h2>
<h2 class="section-description">Class: block-banner--height-medium, block-banner--dark-overlay</h2>
{% include "blocks/block-banner.twig" %}

{% set block_banner = [
    {
      'block_banner__class' : 'block-banner block-banner--height-big block-banner--has-button block-banner--dark-overlay',
      'block_banner__image' : '../images/images-pages/pet3.jpg',
      'block_banner__title' : 'PANNELS TEST MENU',
      'block_banner__description' : 'Possibly one of agreatest</br> inventions of our time',
      'block_banner__link' : 'CTA BUTTON'
    }
  ]
%}
<h2 class="section-title">Height Big</h2>
<h2 class="section-description margin-bottom">How to use: Show title, description and links, Height: 575px and Image: 1920x720px</h2>
<h2 class="section-description">Class: block-banner--height-medium, block-banner--dark-overlay</h2>
{% include "blocks/block-banner.twig" %}
