{% block blockCounter %}
	<div class="bg-gray-f8">
		<div class="block-counter">
			<div class="container">
				<div class="block-counter__item">
					<div class="block-counter__title">Piccolos in use (US): <span>*</span></div>
					<div class="block-counter__numbers">
						<span class="block-counter__numbers--bold space-right">5</span>
						<span>2</span>
						<span>2</span>
						<span>5</span>
					</div>
				</div>
				<div class="block-counter__item">
					<div class="block-counter__title">Patients tested (US): <span>*</span></div>
					<div class="block-counter__numbers">
						<span class="block-counter__numbers--bold">1</span>
						<span class="block-counter__numbers--bold space-right">5</span>
						<span>1</span>
						<span>6</span>
						<span class="space-right">4</span>
						<span>6</span>
						<span>3</span>
						<span>8</span>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}