<div class="container">
  {% set block_cta = [
    {
      'block_cta__class' : 'block-cta',
      'block_cta__title' : 'Abaxis Mission',
      'block_cta__body' : 'Abaxis provides leading edge technology, tools and services that support best medical practices, enabling physicians and veterinarians to respond to the health needs of their clients at the point of care while operating economical and profitable practices.',
      'block_cta__link' : '<a class="btn btn--medium btn--border-blue" href="#" title="link">More About Us</a>'
    }
  ]
  %}

  {% include "blocks/block-call-to-action.twig" %}
</div>
