// Block call to action.

.block-cta {
  padding-bottom: rem(34px);
  padding-top: rem(30px);

  @include susy-media(tablet) {
    padding-bottom: rem(70px);
    padding-top: rem(50px);
  }

  @include susy-media(desktop) {
    padding-bottom: rem(123px);
    padding-top: rem(52px);
  }

  &__content {
    position: relative;
    z-index: 5;
    padding: 0;
    @include container($susy-desktop);

    &__inner {
      display: inline-block;
    }

    &__title {
      font-size: rem(25px);
      margin-bottom: rem(25px);

      @include susy-media(tablet) {
        font-size: rem(50px);
        margin-bottom: rem(10px);
      }
    }

    &__body {
      display: inline-block;
      font-size: rem(15px);
      line-height: rem(18px);
      margin-bottom: rem(5px);

      @include susy-media(tablet) {
        font-size: rem(20px);
        line-height: 1.5;
        margin-bottom: rem(46px);
      }

      @include susy-media(tabletOnly) {
        margin-bottom: rem(25px);
      }
    }
  }

  &__image {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    img {
      min-height: auto;
      height: 100%;
      max-width: none;
      min-width: 100%;
      width: auto;
      transform: translate(-50%, -50%);
      position: absolute;
      top: 50%;
      left: 50%;

      @include susy-media(tabletOnly) {
        height: auto;
        width: auto;
      }
    }
  }

  // Text colors modifiers.
  &--dark {
    color: $gray;
  }

  &--light {
    color: $white;
  }

  // Modifier with body
  &--content-large {
    .block-cta__content {
      &__inner {
        padding: rem(0 10px);

        @include susy-media(desktop) {
          max-width: 69%;
          padding: 0;
        }
      }
    }
  }

  &--content-medium {
    .block-cta__content {
      &__inner {
        padding: rem(0 10px);

        @include susy-media(tablet) {
          width: 65%;
        }
      }

      &__title {
        @include susy-media(tabletOnly) {
          font-size: rem(35px);
        }
      }

      &__body {
        @include susy-media(tabletOnly) {
          font-size: rem(15px);
          margin-bottom: rem(15px);
        }
      }
    }
  }

  &--content-small {
    .block-cta__content {
      &__inner {
        padding: rem(0 10px);

        @include susy-media(tablet) {
          width: 60%;
        }

        @include susy-media(desktop) {
          width: 50%;
        }
      }

      &__title {
        @include susy-media(tabletOnly) {
          font-size: rem(35px);
        }
      }

      &__body {
        @include susy-media(tabletOnly) {
          font-size: rem(15px);
          margin-bottom: rem(15px);
        }
      }
    }
  }

  // Modifier height.
  &--height-small {
    @include susy-media(tablet) {
      height: rem(343px);
    }

    @include susy-media(desktop) {
      height: rem(506px);
    }
  }

  &--height-medium {
    height: rem(500px);

    @include susy-media(desktop) {
      height: rem(514px);
    }
  }

  &--height-large {
    height: rem(500px);

    @include susy-media(desktop) {
      height: rem(630px);
    }
  }

  //  Modifier has image
  &--with-image {
    align-items: center;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    padding: rem(24px 0 34px 0);
    position: relative;
    overflow: hidden;

    // .block-cta {
    //   &__content {
    //     line-height: 1.5;
    //     padding: rem(0 10px);

    //     @include susy-media(tablet) {
    //       max-width: rem(640px);
    //       padding: rem(0 20px);
    //     }

    //     &__title {
    //       margin-bottom: rem(7px);

    //       @include susy-media(tablet) {
    //         margin-bottom: rem(18px);
    //       }
    //     }

    //     &__body {
    //       font-size: rem(15px);
    //       margin-bottom: rem(3px);

    //       @include susy-media(tablet) {
    //         font-size: rem(20px);
    //         margin-bottom: rem(26px);
    //       }

    //       @include susy-media(desktop) {
    //         margin-bottom: rem(95px);
    //       }
    //     }

    //     .btn {
    //       @include susy-media(mobileOnly) {
    //         background-color: transparent;
    //         border: 1px solid $white;
    //       }
    //     }
    //   }
    // }
  }

  // Modifiers for background
  &--blue-bg {
    background: linear-gradient(0deg, #00a3ed 0%, #00b9f1 100%);
    overflow: hidden;
    position: relative;
  }

  &--red-bg {
    background-color: $red-b1;
    overflow: hidden;
    padding-top: rem(25px);
    position: relative;

    @include susy-media(tablet) {
      padding-top: rem(50px);
    }

    @include susy-media(desktop) {
      padding-top: rem(90px);
    }
  }

  &--darkolivegreen-bg {
    background-color: $green-48;

    @include susy-media(tablet) {
      background-image: url($image-path + 'cta-hero-darkolivegreen.jpg');
    }
  }

  // // Modifier height.
  // &--height-small {

  //   @include susy-media(tablet) {
  //     height: rem(343px);
  //   }

  //   @include susy-media(desktop) {
  //     height: rem(506px);
  //   }

  //   // .block-cta {
  //   //   &__content {
  //   //     @include susy-media(tablet) {
  //   //       max-width: rem(800px);
  //   //     }

  //   //     &__body {
  //   //       margin-bottom: rem(3px);

  //   //       @include susy-media(tablet) {
  //   //         margin-bottom: rem(26px);
  //   //       }

  //   //       @include susy-media(desktop) {
  //   //         margin-bottom: rem(44px);
  //   //       }
  //   //     }
  //   //   }
  //   // }
  // }

  // &--height-medium {
  //   height: rem(414px);

  //   @include susy-media(tablet) {
  //     height: rem(514px);
  //   }

  //   // .block-cta {
  //   //   &__content {
  //   //     @include susy-media(tablet) {
  //   //       max-width: rem(800px);
  //   //     }

  //   //     &__body {
  //   //       @include susy-media(tablet) {
  //   //         margin-bottom: rem(45px);
  //   //       }
  //   //     }
  //   //   }
  //   // }
  // }

  // &--height-large {
  //   height: rem(414px);

  //   @include susy-media(tablet) {
  //     height: rem(630px);
  //   }

  //   // .block-cta {
  //   //   &__content {
  //   //     @include susy-media(tablet) {
  //   //       max-width: rem(800px);
  //   //     }

  //   //     &__body {
  //   //       @include susy-media(tablet) {
  //   //         margin-bottom: rem(45px);
  //   //       }
  //   //     }
  //   //   }
  //   // }
  // }

  &--corporate {
    padding-bottom: rem(35px);
    padding-top: rem(24px);

    @include susy-media(tablet) {
      padding-bottom: rem(128px);
      padding-top: rem(102px);
    }

    .block-cta {
      &__content {
        &__title {
          margin-bottom: rem(25px);

          @include susy-media(tablet) {
            margin-bottom: rem(38px);
          }
        }

        &__body {
          margin-bottom: rem(36px);
        }
      }
    }
  }

  &--reference-center {
    @include susy-media(mobileOnly) {
      .block-cta {
        &__content {
          &__title {
            font-size: rem(30px);
            margin-bottom: rem(25px);
          }
        }
      }
    }
  }
}
