// Block banner.
.block-banner {
  align-items: center;
  color: $white;
  display: flex;
  height: rem(400px);
  justify-content: center;
  overflow: hidden;
  padding: 0 rem(10px);
  position: relative;
  width: 100%;
  z-index: 1;

  &__image {
    @extend %clearfix;

    img {
      @extend %img-cover;
    }
  }

  // Banner text color modifier.
  &--dark-overlay {
    @include gradient-overlay($black, .3);
  }

  // Banner height modifiers.
  &--height-small {
    height: rem(120px);

    @include susy-media(tablet) {
      height: rem(275px);
    }
  }

  &--height-medium {
    height: rem(183px);

    @include susy-media(tablet) {
      height: rem(350px);
    }
  }

  &--height-big {
    height: rem(183px);

    @include susy-media(tablet) {
      height: rem(366px);
    }

    @include susy-media(desktop) {
      height: rem(575px);
    }
  }

  &--has-button {
    @include susy-media(mobileOnly) {
      height: rem(250px);
    }

    .banner-caption {
      &__description {
        @include susy-media(mobileOnly) {
          padding-left: rem(35px);
          padding-right: rem(35px);
        }
      }
    }
  }
}
